@use "../../scss/index.scss" as *;

.login {
    display: flex;
    width: 980px;
    margin: 0 auto;
    align-items: center;
    max-height: 100vh;
    height: 100vh;

    &-right,
    &-left {
        width: 50%;
        margin-top: -60px;
    }

    &-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 20px;
        &__logo {
            margin-left: -30px;
            svg {
                height: 100px;
            }
        }

        &__title {
            font-weight: 500;
            font-size: 2.8rem;
            width: 500px;
        }
    }

    &-right {
        padding-left: 20px;
        &__box {
            box-shadow: $box-shadow;
            padding: 15px;
            border-radius: 5px;
            width: 396px;

            margin-left: auto;

            &-input {
                margin-bottom: 15px;
                input {
                    width: 100%;
                    border-radius: 7px;
                    border: 1px solid $border-color-input;
                    padding: 15px 12px;
                    outline: none;
                    font-size: 1.6rem;
                    color: $txt-color;
                }

                input:focus {
                    border-color: $primary-color;
                    caret-color: $primary-color;
                    box-shadow: $box-shadow;
                }

                input:focus::placeholder {
                    color: #ccd0d5;
                }
            }
            &-input ~ * {
                margin-bottom: 15px;
            }

            &-button {
                text-align: center;
                @include flex(center, center);
            }

            &-button:last-child {
                margin-bottom: 0;
            }

            &-button--border {
                border-bottom: 1px solid $border-color-input;
                padding-bottom: 5px;
            }
        }
    }
}
