@use "../../../scss/index.scss" as *;

.search {
    @include flex(flex-start, center);
    width: $width-sidebar;

    &.active::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: calc(340px + 20px);
        min-height: 100px;
        background-color: #fff;

        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        box-shadow: $box-shadow;
    }

    &.active &__logo {
        width: 32px;
        height: 32px;
        &:hover {
            border-radius: 50%;
            background-color: $main-bg;
            position: relative;
            z-index: 1;
            cursor: pointer;
        }

        &-icon {
            display: none;
        }
        .search__arrow-back {
            display: block;
        }
    }

    &.active &__input {
        width: 260px;
        &-icon {
            display: none;
        }

        input {
            padding-left: 12px;
        }

        &-result {
            display: block;
        }
    }

    &__logo {
        @include flex(center, center);
        svg {
            path {
                stroke: $txt-color-white;
            }
        }

        .search__arrow-back {
            position: relative;
            z-index: 1;
            display: none;
            font-size: 2.3rem;
        }
    }

    &__input {
        width: 240px;
        margin-left: 6px;
        border-radius: 100px;
        background-color: #f0f2f5;
        height: 40px;

        position: relative;
        z-index: 1;

        @include flex(flex-start, center);

        &-result {
            position: absolute;
            top: calc(100% + 12px);
            z-index: 1;
            font-size: 1.4rem;
            color: #8a8d91;
            font-weight: 400;
            display: none;
        }

        &-icon {
            width: 38px;
            margin-left: 6px;
            @include flex(center, center);

            svg {
                font-size: 22px;
                color: rgba($color: $primary-txt, $alpha: 0.6);
            }
        }

        input {
            border: none;
            outline: none;
            flex-grow: 1;
            height: 100%;
            background-color: #f0f2f5;
            font-size: 1.4rem;
            font-weight: 400;
            padding-right: 12px;
            border-radius: 100px;

            &::placeholder {
                color: rgba($color: $primary-txt, $alpha: 0.6);
            }
        }
    }
}
