$main-bg: #f0f2f5;
$primary-color: #1877f2;
$txt-color: #1c1e21;
$primary-txt: #050505;
$txt-color-white: #fff;

$hover-overlay: rgba(0, 0, 0, 0.15);

$blue-color: #42b72a;
$box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1), 0 8px 16px rgb(0, 0, 0, 0.1);
$border-color-input: #dddfe2;
$width-sidebar: 340px;
